.profile {
    text-align: center;
}

.profile p {
    color: #aaa;
    margin-bottom: 3%;
}

.profile button {
    align-items: center;
    margin-top: 20px;
    font-size: 15px;
}

.profile #pencilIcon {
    font-size: 25px;
}

.profile a+button {
    margin-left: 50px;
}

.profile a {
    background-color: #588157;
    color: #FFF;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    width: 120px;
    font-weight: bold;
    border: none;
    padding: 8px 10px;
    font-size: 14px;
}